# Ignore experiments data directories
Data/EXP*/

# Ignore the kraken and blast database directory
Data/kraken2_db/
Data/blast_db/

# Ignore the temporary directory
temp/

# Ignore taxonomy file (huge file)
Data/taxonomy.tab

# Ignore the snakemake log files
Analysis/snakemake/.snakemake/

# Ignore fastqc archives
*_fastqc.zip

# Ignore heavy logs
*.out
*.err

# Ignore heavy statistics files
stats_all_reads_*
size_of_all_read_*

# Ignore huge data files
*.fastq
*.sam
*.bam
*.pod5
*.fa
*.fna
*.fasta
*.fai
*.gb
*.gbff
*.samstats
*.syldb
*.pkl

# Ignore the EXP250124_1 exploration directories
Analysis/EXP250124_1/sylph/
